---
- name: Create directory for wordpress sites
  file:
    path: /var/www/wordpress/
    state: directory

- name: Create directory for site files
  file:
    path: /var/www/wordpress/{{domain}}
    state: directory

- name: Download WordPress
  get_url:
    url=https://wordpress.org/latest.tar.gz
    dest=/tmp/wordpress.tar.gz
    validate_certs=no

- name: Extract WordPress
  unarchive: src=/tmp/wordpress.tar.gz dest=/tmp copy=no
  become: yes

- name: Syncronize Wordpress install files with server directory
  synchronize:
    src: /tmp/wordpress/
    dest: /var/www/wordpress/{{domain}}/
  delegate_to: "{{ inventory_hostname }}"

- name: delete tmp directory for wordpress install files
  file:
    path: /tmp/wordpress
    state: absent

- name: delete tmp file for wordpress install files
  file:
    path: /tmp/wordpress.tar.gz
    state: absent

- name: Fetch random salts for WordPress config
  command: curl https://api.wordpress.org/secret-key/1.1/salt/
  register: "wp_salt"
  become: no

- name: Add wp-config
  template: "src=wp-config.php dest=/var/www/wordpress/{{domain}}/wp-config.php"
  become: yes

- name: Make domain user owner of directory with site
  file: dest=/var/www/wordpress/{{domain}} owner={{domain}} group={{domain}} mode=u=rwX,g=rX,o=rX recurse=yes

- name: Download and Install WP-CLI
  get_url:
    url="https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar"
    dest="{{ root_bin }}/wp"
    force_basic_auth=yes
    mode=0755

- name: Initialize Wordpress site
  command: "chdir=/var/www/wordpress/{{domain}} /usr/local/bin/wp core install --url={{domain}} --title={{domain}} --admin_user={{wpuser}} --admin_password=wordpass --admin_email={{wpmail}}"
  become: yes
  become_user: "{{domain}}"
  become_method: sudo

- name: Store variable with site type
  shell: echo "wordpress"
  register: site
